doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title ページのタイトル
    link(rel='stylesheet', href='../common/css/style.css')
  body
    article
      header
        h1 Cafe Debut
        p
          | baser CMS カフェサイト用テーマ
          br
          | baser CMS テーマコンテスト2012 飲食店系テーマ賞受賞（受賞結果はこちら）

      section
        h2 いますぐ、はじめられるカフェサイトテーマ！
        p baserCMSは、「コーポレートサイトにちょうどいい」をキャッチコピーにしたcake PHPベースの国産CMS。Cafe Debutは、baseCMSのテーマコンテスト2012に応募するために、チームこもりこましゃで作成しました。
        p baserCMSのインストールと、Cafe Debutテーマの初期設定を行ったら、あとはあなたのスマートフォンのInstagramで写真を撮っていくだけ。
        p Instagramのおしゃれ写真で、すぐに素敵なカフェサイトが出来上がっちゃうフォトログ風baserCMSテーマです。

        table
          caption 制作担当
          - team = []
          - team[0] = {name: 'コモモ', task: '企画・デザイン・baseCMSテーマのベース組み込み担当'}
          - team[1] = {name: 'モリコ', task: 'HTML/CSSコーディング担当'}
          - team[2] = {name: 'ひろましゃ', task: 'プラグイン制作、テーマ実装の難しいところとか担当'}
          each member, i in team
            tr
              th= member.name
              td= member.task

        section
          h3 プラグインでInstagramと連携
          p プラグインでInstagramと連携して、トップページにInstagramで撮影した写真がすぐに反映されます。

        section
          h3 レスポンシブデザインでスマートフォン、タブレット表示も快適
          p さまざまなデバイスの表示対応に、レスポンシブデザインを採用しました。Instagramでお店のメニューを撮影してすぐにスマートフォンで確認できるのも嬉しい♪

        section
          h3 Webフォントだから、飾り文字やアイコンもキレイ
          p サイトのタイトルやナビゲーション、主要な見出しはGoogle Web Font、アイコンはウェブフォント（Fontello）を採用しています。拡大縮小されるスマートフォンやタブレットでも解像度を気にすることなくキレイな文字とアイコン表示を実現できました。

      footer
        section
          h2 関連リンク
          ul
            - lists = ['Cafe Debutのダウンロードページ', 'Cafe Debutのデモページ', 'baser CMS公式サイト', 'Instagram公式サイト']
            each list, i in lists
              li= list

        aside
          p 撮影協力
          h2 kitchen nest
          p 北海道札幌市中央区南３条西８丁目　大洋ビル２階
          ul
            li http://www.nest-kitchen.jp
            li Facebook ページ
          p Cafe Debutテーマのイメージ撮影にご協力いただきました。とっても素敵なお店です。

