doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title ページのタイトル
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../../bower_components/normalize-css/normalize.css')
    // endbower
    // endbuild
    link(rel='stylesheet', href='../common/css/style.css')
  body
    article.articleDetail
      header.articleDetailHead
        h1.pageTitle Cafe Debut
        img(src="images/img_01_01.jpg" alt="" width="720" height="390")
        p
          | baser CMS カフェサイト用テーマ
          br
          | baser CMS テーマコンテスト2012 飲食店系テーマ賞受賞（受賞結果はこちら）

      section.articleDetailBody
        h2.heading-typeA いますぐ、はじめられるカフェサイトテーマ！
        p baserCMSは、「コーポレートサイトにちょうどいい」をキャッチコピーにしたcake PHPベースの国産CMS。Cafe Debutは、baseCMSのテーマコンテスト2012に応募するために、チームこもりこましゃで作成しました。
        p baserCMSのインストールと、Cafe Debutテーマの初期設定を行ったら、あとはあなたのスマートフォンのInstagramで写真を撮っていくだけ。
        p Instagramのおしゃれ写真で、すぐに素敵なカフェサイトが出来上がっちゃうフォトログ風baserCMSテーマです。

        table
          caption 制作担当
          - team = []
          - team[0] = {name: 'コモモ', task: '企画・デザイン・baseCMSテーマのベース組み込み担当'}
          - team[1] = {name: 'モリコ', task: 'HTML/CSSコーディング担当'}
          - team[2] = {name: 'ひろましゃ', task: 'プラグイン制作、テーマ実装の難しいところとか担当'}
          each member, i in team
            tr
              th= member.name
              td= member.task

        section
          h3.heading-typeB プラグインでInstagramと連携
          figure
            img(src="images/img_01_02.jpg" alt="連携した料理の写真もすぐにトップページで確認できます。" width="720" height="390")
          p プラグインでInstagramと連携して、トップページにInstagramで撮影した写真がすぐに反映されます。

        section
          h3.heading-typeB レスポンシブデザインでスマートフォン、タブレット表示も快適
          figure
            img(src="images/img_01_03.jpg" alt="スマートフォン・タブレット・パソコンで表示を確認すると、それぞれレイアウトが変わります。" width="720" height="390")
          p さまざまなデバイスの表示対応に、レスポンシブデザインを採用しました。Instagramでお店のメニューを撮影してすぐにスマートフォンで確認できるのも嬉しい♪

        section
          h3.heading-typeB Webフォントだから、飾り文字やアイコンもキレイ
          figure
            img(src="images/img_01_04.jpg" alt="スマートフォンの画面でも文字とアイコンの表示が劣化しません。" width="720" height="390")
          p サイトのタイトルやナビゲーション、主要な見出しはGoogle Web Font、アイコンはウェブフォント（Fontello）を採用しています。拡大縮小されるスマートフォンやタブレットでも解像度を気にすることなくキレイな文字とアイコン表示を実現できました。

      footer.articleDetailFoot
        section
          h2.heading-typeC 関連リンク
          ul
            - lists = ['Cafe Debutのダウンロードページ', 'Cafe Debutのデモページ', 'baser CMS公式サイト', 'Instagram公式サイト']
            each list, i in lists
              li= list

        aside.creditUnit
          p 撮影協力
          h2.heading-typeC kitchen nest
          p 北海道札幌市中央区南３条西８丁目　大洋ビル２階
          ul
            li http://www.nest-kitchen.jp
            li Facebook ページ
          p Cafe Debutテーマのイメージ撮影にご協力いただきました。とっても素敵なお店です。

