body {
  color: #333;
  font-family: sans-serif;
}

p {
  font-size: 14px;
  line-height: (20 / 14);
}

ul {
  li {
    font-size: 14px;
    line-height: (20 / 14);
    list-style-type: square;
  }
}

table {
  font-size: 14px;
  line-height: (20 / 14);
  border: 1px solid $color-gray;
  border-collapse: collapse;
  width: 100%;
  caption {
    text-align: left;
    font-weight: bold;
  }
  th,
  td {
    border: 1px solid $color-gray;
  }
  th {
    background-color: #EEE;
    text-align: left;
  }
}
