#pageBody {
  .mainVisual {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        position: relative;
      }
    }
    .mainVisualText {
      color: #fff;
      background-color: rgba(0, 0, 0, .4);
      width: 400px;
      padding: 15px 25px;
      box-sizing: border-box;
      position: absolute;
      left: 50px;
      bottom: 50px;
      h1 {
        font-size: 26px;
        line-height: (32 / 26);
        margin: 0;
      }
      p {
        font-size: 12px;
        line-height: (18 / 12);
        margin: 0;
      }
    }
    img {
      vertical-align: bottom;
    }
  }
  .portfolioIndex {
    margin-top: 40px;
    &::after {
      content: '';
      clear: both;
      display: block;
    }
    article {
      width: 300px;
      float: left;
      margin-left: 40px;
      &:first-child {
        margin-left: 0;
      }
      h2 {
        font-size: 18px;
        margin: 5px 0;
      }
      p {
        margin-top: 0;
        font-size: 12px;
        line-height: (18 / 12);
      }
    }
  }
  .news {
    margin-top: 40px;
    table {
      width: 100%;
      tr {
        th,
        td {
          font-size: 14px;
          line-height: (20 / 14);
          border-bottom: 1px dotted $color-gray;
          padding: 10px 0;
          vertical-align: top;
        }
        th {
          white-space: nowrap;
          padding-right: 30px;
        }
        td {
          width: 100%;
        }
      }
    }
    h1 {
      font-size: 20px;
      border-bottom: 1px solid $color-gray;
      padding: 5px 0;
    }
  }
}
