#pageHead {
  #siteTitle {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 0;
    font-family: 'Antic Didone', serif;
  }
  #catchcopy {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 5px;
  }
  .globalNavi {
    border-top: 1px solid $color-gray;
    border-bottom: 1px solid $color-gray;
    padding: 10px 0;
    ul {
      margin: 0;
      padding: 0;
      &:after {
        content: '';
        clear: both;
        display: block;
      }
      li {
        list-style: none;
        width: ($width-main / 4);
        float: left;
        border-left: 1px solid $color-gray;
        padding: 0 10px;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        line-height: (20 / 14);
        &:first-child {
          border-left: none;
        }
        a {
          color: inherit;
          text-decoration: none;
          display: block;
          padding: 5px 0;
          &:hover {
            background-color: $color-light-brown;
          }
        }
        &.current a {
          background-color: $color-light-brown;
        }
      }
    }
  }
}
