extends layout

block pageBodyMain
  article.articleDetail
    header.articleDetailHead
      block detailHeader
    section.articleDetailBody
      block detailBody
    footer.articleDetailFoot
      block detailFooter
