header#pageHead
  h1#siteTitle komorikomasha
  p#catchcopy 1人じゃできないことも、力を合わせればできる。やってみたいをカタチにする、3人の楽しいものづくり。
  block globalNavi
    - current = 'ホーム'
  nav.globalNavi
    ul
      - navs = []
      - navs[0] = {text: 'ホーム', url: '/htmlcss-design-textbook/index.html'}
      - navs[1] = {text: 'わたしたちについて', url: '/htmlcss-design-textbook/about/index.html'}
      - navs[2] = {text: 'つくったもの', url: '/htmlcss-design-textbook/portfolio/index.html'}
      - navs[3] = {text: 'おといあわせ', url: '/htmlcss-design-textbook/contact/index.html'}
      each nav, i in navs
        if nav.text === current
          li.current
            a(href="#{nav.url}")= nav.text
        else
          li
            a(href="#{nav.url}")= nav.text

