doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    block title
    block stylesheet
      // build:css /common/css/vendor.css
      // bower:css
      link(rel='stylesheet', href='../../bower_components/normalize-css/normalize.css')
      // endbower
      // endbuild
      link(rel='stylesheet', href='/common/css/style.css')
  body
    div#page
      include header

      block topicPath
        - paths = []
      if paths.length > 1
        p.topicPath
          each path, i in paths
            if i === paths.length - 1
              = path.text
            else
              a(href="#{path.url}")= path.text
              | &nbsp;&gt;&nbsp;

      #pageBody
        block pageBody

      p.pagetop
        a(href="#page") ページの先頭へ戻る

      include footer
