section.newsList
  h2 お知らせ
  ul
    li
      time(date-time="2013-10-01") 2013.10.01
      | コモモとモリコで、書籍「HTML/CSSの教科書（仮題）」を執筆中です。お楽しみに。
    li
      time(date-time="2013-10-01") 2013.10.01
      | コモモ・モリコ・ひろましゃ3人のサイト「komorikomash」をオープンしました。
