extends partials/layout

block stylesheet
  // build:css /common/css/vendor.css
  // bower:css
  link(rel='stylesheet', href='../bower_components/normalize-css/normalize.css')
  // endbower
  // endbuild
  link(rel='stylesheet', href='/common/css/style.css')

block pageBody
  section.mainVisual
    .mainVisualText
      h1 Cafe Debut
      p
        | baserCMS、カフェサイト用テーマ
        br
        | baserCMS2012 テーマコンテスト　飲食店系テーマ賞受賞
    img(src="images/mainVisual_img_01.jpg" alt="" width="980" height="500")

