doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title htmlcss-design-textbook
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    link(rel='stylesheet', href='styles/style.css', media='all')
  body
    h1 Hello HTML/CSS Design Textbook

    // build:js scripts/vendor.js
    // bower:js
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
